---
import { env } from "cloudflare:workers";
import { createCMS } from "../../lib/cms";

const cms = createCMS(env as unknown as Parameters<typeof createCMS>[0]);
const { slug } = Astro.params;
if (!slug) return Astro.redirect("/404");
const post = await cms.posts.getItem(slug);

if (!post) return Astro.redirect("/404");

const html = await post.content.html();
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>{post.slug}</title>
  </head>
  <body>
    <article>
      <h1>{post.slug}</h1>
      {post.publishedAt && <time>{post.publishedAt}</time>}
      {post.author && <p>Author: {post.author}</p>}
      <div set:html={html} />
    </article>
  </body>
</html>
